.conteiner{
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    font-size: 15px;
    width: 400px;   
    margin: 0px 30px;
    margin-top: 10px;
    align-items: center;
    border-radius: 10px;
    background: url('../../img/cardBk.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image{
    width: 220px;
    height: 220px;
    border-color: green;
    border-radius: 100px;
    border-style: double ;
}

#info{
    width: 280px;
    text-align: center;
    text-shadow: 2px 2px 0px  white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#info h3{
    margin-left: 70px;
    text-align: left;
}

/*     text-shadow: 5px 0px 5px  white;
*/