.conteiner {
    height: 580px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 400px;
    width: 360px;

    margin-left: 50px;
    margin-bottom: 80px;

    background: url("../../img/avatar.gif");
    background-position: center ;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.name {
    height: 100px;
    width: 400px;

    background: url("../../img/name.jpg");
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    margin-bottom: 40px;
    position: relative;

}

.info {
    height: 700px;
    width: 900px;

    background: url("../../img/info.gif");
    background-position: center ;
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: center;
}