.conteiner {
    margin: 10px
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.add, .random {
    color: #2ECC71;
    border-color: #2ECC71;
    background-color: #000000;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    margin: 30px;
}

.add:active, .random:active{
    opacity: 0.8;
    transition: all 0.1s ease-in;
}

.add:hover, .random:hover{
    opacity: 0.8;
    transition: all 0.1s ease-in;
}

.bar {
    border-color: #2ECC71;
    border-radius: 4px;
    background-color: #000000;
    height: 30px;   
    font-size: 20px;
    width: 540px;
    color: #2ECC71;
    margin-top: 20px;    
}

.bar::placeholder{
    color: #2ECC71;
}