.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 500px;
    height: 200px;
}

.navMenu{
    display: flex;
    margin: auto;
    font-size: 18px;
    gap: 60px;
    justify-content: right;
    width: 94%;
    margin-top: 30px;
}


.logout{
    color: #59CE5D;
    border-color: #59CE5D;
    background-color: #000000;
    border-radius: 4px;
    transition: all 0.2s ease-in;
}

.logout:active, .logout:hover{
    opacity: 0.8;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.links {
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease; 

}
.links:hover{
    opacity: 0.8; 
}